$color-background = black
$color-text = #fefefe
$color-blockquote-left = #1F1F1F
$color-blockquote-bg = #161616
$color-code-bg = #333333
$color-strong-text = #ff6369
$color-copy-bg = rgba(200,200,200,0.1)
$color-copy-text = #fefefe
$color-hr = rgba(200,200,200,0.5)
$color-footer-bg = none
$color-page-no = #fefefe
$prism = "atom-dark.css"