$color-background = 
$color-text = black
$color-blockquote-left = #eeeeee
$color-blockquote-bg = #fafafa
$color-code-bg = rgba(0,0,0,0.1)
$color-strong-text = #955ae7
$color-copy-bg = rgba(0,0,0,0.05)
$color-copy-text = #555555
$color-hr = rgba(0,0,0,0.2)
$color-footer-bg = none
$color-page-no = black
$prism = "github.css"
