/*这是自定义界面的样式*/
.page {
  min-height: 300px;
  height: auto;
}

.search-input {
  border: 1px solid #999;
  border-radius: 0;
  appearance: none;
  background: none;
  -webkit-appearance: none;
  color: grey;
  width: 50%;
}

/*分类页面的分类文章数*/
.category-list-count:before {
  content: " (";
}

.category-list-count:after {
  content: ")";
}